.Rhistory
.zip
2010USA_CensusGeog_Shp/
EVI_2020_by_cbg10.csv
Point_Coordinate_Files/
Strava/
US_State_Territory_Boundaries/
World_Country_Boundaries/
accessing_census_r_handout.pdf
ca_geog/
ed_geog/
nhgis0015_shape/
tidycensus.R
top100_metro_pop.jpeg
tx_geog/
soc176_shapes/